* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */
/* .container {
    max-width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex   ;
    justify-content: center;
    align-items: center;
}

.wrapper {
    min-width: 70%;
    height: 70%;
    display: flex;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 1em;
}

.left {
    border-right: 0.5px solid #333;
    width: 30%;
    height: 100%;
}
.right {
    position: relative;
    border-left: 0.5px solid #333;
    width: 70%;
    height: 100%;
    padding: 2em 2em;
} */


/* Styling */
/* .image {
    padding-top: 2.5em;
}

img {
    width: 100%; 
}
.date-time {
    position: absolute;
    bottom: 10.5em;
}

.track {
    position: absolute;
    bottom: 6.5em;

}

.link {
    position: absolute;
    bottom: 2.5em;
} */





















body {
    width: 100vw;
    height: 100vh;
}



.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 222px 274px;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.wrapper {
    width: 892px;
    height: 580px;
    display: flex;
    flex-shrink: 0;

    border-radius: 23px;
    border: 1px solid #333;
    background: #FFF;
}

.left {
    display: flex;
    width: 265px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    display: inline-flex;
    padding: 42.5px 48px 42.5px 67px;
    justify-content: flex-end;
    align-items: center;
}


img {
    width: 265px;
    height: 579px;
    background: url(./img/joshuaodubanjo.jpg), lightgray 50% / cover no-repeat;
}

.inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 43px;
}

p {
    font-size: 3em;
    font-weight: 900;
}

span {
    font-weight: 100;
}